<nav class="nav">
    <h1><a routerLink="/">E-COMM</a></h1>
    <div *ngIf="menuType==='default'" class="nav-search">
        <input class="input" (keyup)="searchProducts($event)" (blur)="hideSearch()" type="text" placeholder="Search for products"/>
        <button>Search</button><br>
        <ul class="suggested-result" *ngIf="searchResult">
            <li *ngFor="let item of searchResult">
                <a>{{item.name}}</a>
            </li>
        </ul>
    </div>
    <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="seller-auth">seller</a></li>
            <li><a routerLink="">Home</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Cart(0)</a></li>
        </ul>
        <ul *ngSwitchCase="'seller'">
            <li><a routerLink="seller-add-product">Add Product</a></li>
            <li><a routerLink="/seller-home">List</a></li>
            <li><a (click)="logout()">Logout</a></li>
            <li><a >{{sellerName | titlecase}}</a></li>
        </ul>
    </div>
</nav>
