<div class="user-auth">
 <div *ngIf="showLogin" class="user-signup">
    <h1>User Signup</h1>
    <form #userSignup="ngForm" class="common-form" (ngSubmit)="signUp(userSignup.value)">
    <input class="form-input" type="text"
     placeholder="Enter User Name"
     name="name"
     ngModel
    />
    <br>
    <input class="form-input" type="email"
     placeholder="Enter User Email"
     name="email"
     ngModel
    />
    <br>
    <input class="form-input" type="password"
     placeholder="Enter User Password"
     name="password"
     ngModel
    />
    <br>
    <button class="form-button">SignUp</button>
    <p>Already have account? <a (click)="openLogin()">Click Here</a></p>
    </form>
 </div>

 <div *ngIf="!showLogin" class="user-login">
    <h1>User Login</h1>
    <form #userLoginUp="ngForm" class="common-form" (ngSubmit)="login(userLoginUp.value)">
      <p class="error-p">{{authError}}</p>
    <br>
    <input class="form-input" type="email"
     placeholder="Enter User Email"
     name="email"
     ngModel
     #email="ngModel"
     required
    />
    <p class="invalid-input"><span *ngIf="email.invalid && email.touched">Please Enter Valid Value</span></p>
    <br>
    <input class="form-input" type="password"
     placeholder="Enter User Password"
     name="password"
     ngModel
     minlength="2"
     maxlength="20"
     #password="ngModel"
     required
    />
    <p class="invalid-input"><span *ngIf="password.invalid && password.touched">Please Enter Valid Value</span></p>
    <br>
    <button [disabled]="userLoginUp.invalid" class="form-button">Login</button>
    <p>Want to Craete your Account? <a (click)="openSignUp()">Click Here</a></p>
    </form>
 </div>
</div>
