/* You can add global styles to this file, and also import other style files */
body{
    font-family: sans-serif;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
}
.common-form{
    /* text-align: center; */
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

.form-input{
    height: 35px;
    border: 1px solid blueviolet;
    color: blueviolet;
    cursor: pointer;
}
.form-button{
    height: 35px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: black;
    border-radius: 5px;
}